*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    border: 2px solid black;
    display: flex;
    background: linear-gradient(to right,#9c27b0,#8ecdff);
    width: 100%;
    height: 700px;
   justify-content: flex-end;
  
}
.navbar{
    display: flex;
    
}
.navbar img{
    width: 90px;
    margin: 15px 20px;
    height: 33px;
    border-radius: 8px;
    border: 2px solid rgb(164, 165, 100);
}
.navlist{
    display: flex;
    
}
.navlist li{
    list-style: none;
    padding: 20px;
    
}
.navlist li a{
    text-decoration: none;
    color: white;
}
.info{
    
    width: 900px;
    height: 596px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
#circle{
    
    width: 896px;
    height: 596px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
    
}
.feat img{
    width: 55px;
    
}
.feat{
    position: absolute;
}
.one{
    top: 228px;
    right: 72px;
    color: white;
    
}
.two{
    top: -51px;
    right: 355px;
    color: black;
    transform: rotate(-90deg);
    filter: invert(100%);
}
.three{
    bottom: 243px;
    left: 57px;
    transform: rotate(-180deg);
    color: black;
    filter: invert(100%);
    
}
.four{
    bottom: -65px;
    left: 352px;
    transform: rotate(90deg);
    color: black;
    filter: invert(100%);
    
}
.mobile{
    width: 162px;
    position: absolute;
    top: 50%;
    left: 42%;
    z-index: 1;
    transform: translateY(-50%);

}
.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    

}
.controls h3{
  margin: 15px;
  color: white;
}
#downbtn{
    width: 15px;
    cursor: pointer;
}
#upbtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}
.overlay{
    width: 0;
    height: 0;
    border-top: 314px solid white ;
    border-right: 391px solid transparent;
    border-bottom: 343px solid white;
    border-left: 436px solid white;
    position: absolute;
    left: 0;
    top: 0;
}
